<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/list.js"></script>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1><i>Restaurants</i></h1>
    <p id="restaurant-list"></p>
    <div class="page">
      <button id="prev-page">Previous</button>
      <span id="page-number">1</span>
      <button id="next-page">Next</button>
    </div>
  </body>
</html>
